<div class="background">
    <div class="paddingleft" fxLayout="column" fxLayoutAlign="start end">
        <div class="text-home-slogan" fxLayout="column" fxLayoutAlign="right">
            <h1>Avec VroumVroum, le covoiturage prend des dimensions stratosphériques.</h1>
            <h2>En ce moment, {{numberUsers}} personnes font du covoiturage dans votre galaxie, pourquoi pas vous ?</h2>
        </div>
        <div>
            <button mat-button class="button-home-login" (click)="login()">Login</button>
        </div>
    </div>
</div>