.toolbar-fill-remaining-space {
    flex: 1 1 auto;
}

.toolbar-form {
min-width: 150px;
max-width: 500px;
width: 100%;
}

.toolbar-full-width {
width: 100%;
}

.title {
  color:white;
  text-decoration: none;
}

.toolbar-home-button {
  min-width: 100px;
  font-size: 1.2em;
}