<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Trajets" aria-label="Trajets" (input)="find($event.target.value)">
  </mat-form-field>
  <mat-card *ngFor="let trajet of trajets" (click)="goTo(trajet.id)">
    <p>Conducteur : {{trajet?.driverId?.name}} </p>
    <div>
        <p>From : {{trajet?.startLocation?.address}}</p> 
        <p>To : {{trajet?.stopLocation?.address}}</p>
    </div>
    <p>Date: {{trajet.dateDeparture | date: 'short'}}</p>
    <p>Hour: {{trajet?.hourDeparture}}</p>
  </mat-card>