<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Trajets" aria-label="Trajets" [matAutocomplete]="auto" [formControl]="trajetsCtrl">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let trajet of filteredTrajets | async" [value]="trajet.passengersId">
        <span>{{ trajet.passengersId }}</span> |
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <mat-card *ngFor="let trajet of trajets">{{trajet.id}}</mat-card>