<form class="example-form">
  <mat-tab-group>
    <mat-tab label="Trajets">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Trajets" aria-label="Trajets" (input)="find($event.target.value)">
      </mat-form-field>
      <mat-card *ngFor="let trajet of trajets" (click)="goTo(trajet.id)">
        <p>Conducteur : {{trajet?.driverId}} </p>
        <div>
          <p>From : {{trajet?.startLocation?.address}}</p>
          <p>To : {{trajet?.stopLocation?.address}}</p>
        </div>
        <p>Date: {{trajet.dateDeparture | date: 'short'}}</p>
        <p>Hour: {{trajet?.hourDeparture}}</p>
      </mat-card>
    </mat-tab>
    <mat-tab label="Trajets selon préférence">
      <mat-card *ngFor="let trajet of trajetsPrefs" (click)="goTo(trajet.id)">
        <p>Conducteur : {{trajet?.driverId}} </p>
        <div>
          <p>From : {{trajet?.startLocation?.address}}</p>
          <p>To : {{trajet?.stopLocation?.address}}</p>
        </div>
        <p>Date: {{trajet.dateDeparture | date: 'short'}}</p>
        <p>Hour: {{trajet?.hourDeparture}}</p>
      </mat-card>
    </mat-tab>
    <mat-tab label="Trajets selon distance">
      <app-path-information-distance></app-path-information-distance>
    </mat-tab>
  </mat-tab-group>
</form>