<mat-form-field>
    <input matInput placeholder="UsernameLogin" [(ngModel)]='name'>
</mat-form-field>
<!--
<br>
<mat-form-field>
    <input matInput placeholder="PasswordLogin">
</mat-form-field><br>
<button (click)='Valid()'>Login</button>

<mat-form-field>
    <input matInput placeholder="UsernameRegister">
</mat-form-field><br>
<mat-form-field>
    <input matInput placeholder="EmailRegister">
</mat-form-field><br>
<mat-form-field>
    <input matInput placeholder="PasswordRegister">
</mat-form-field><br>
<mat-form-field>
    <input matInput placeholder="RePasswordRegister">
</mat-form-field><br>
<button (click)='Valid()'>Register</button>
-->