  <div fxLayout fxLayoutAlign="center top" style="position:absolute; z-index: 2; width:100%;">
    <button mat-button routerLink="/add-path">Ajouter trajet</button>
    <button mat-button routerLink="/path-information">Chercher trajet</button>
  </div>
<agm-map [zoom]="zoom" [latitude]="userPosition.lat" [longitude]="userPosition.lng">
  <agm-marker *ngFor="let marker of markers" [latitude]="marker.lat" [longitude]="marker.lng" [title]="marker.title"></agm-marker>
  <agm-direction *ngIf="path" [visible]="showDirection" [origin]="path.origin" [destination]="path.destination"></agm-direction>
</agm-map>
