button{
    background-color:#3F51B5; 
    color:white; 
}

.map-button{
    margin: 20px;
}

.example-form
{
    font-size:12px;
    margin-top:-658px;
    width:19%;
    display:inline-block;
    float:right;
}
.example-form h1
{
    text-align:right;
    margin-right:5px;
}
.example-form button
{
    display:block;
    float:left;
    margin-left:5px;
    z-index:100;
}
agm-map {
    height: 658px;
    width:90%;
    display:inline-block;
}