<div>
  <mat-tab-group>
    <mat-tab label="Conducteur">
        <h1>Conditions de trajet</h1>
        <p>Cochez les cases si vous souhaitez valider la condition...</p>
        <div class="md-checkbox" >
          <img src="./assets/images/path-conditions/cigarette.png" alt="Image de cigarette" class="logo"/>
          <p>Fumeur ?</p>
          <mat-checkbox></mat-checkbox>
        </div>
        <div class="md-checkbox">
          <img src="./assets/images/path-conditions/music-note.png" alt="Image de note de musique" class="logo"/>
          <p>Musique ?</p>
          <mat-checkbox></mat-checkbox>
        </div>
        <div class="md-checkbox">
          <img src="./assets/images/path-conditions/speech-bubble.png" alt="Image de bulle de discussion" class="logo"/>
          <p>Bavard ?</p>
          <mat-checkbox></mat-checkbox>
        </div>
        <div>
          <p></p>
          <mat-slider></mat-slider>
        </div>
    </mat-tab>
    <mat-tab label="Passager">
        <h1>Conditions de trajet</h1>
        <p>Cochez les cases si vous souhaitez valider la condition...</p>
        <div class="md-checkbox">
          <p>Trajet Fumeur ?</p>
          <mat-checkbox></mat-checkbox>
        </div>
        <div class="md-checkbox">
          <p>Trajet en musique </p>
          <mat-checkbox></mat-checkbox>
        </div>
        <div class="md-checkbox">
          <p>Un peu de discussion ?</p>
          <mat-checkbox></mat-checkbox>
        </div>
    </mat-tab>
    
  </mat-tab-group>
  <button>Enregistrer</button>
</div>
