.mat-card-path-condition{
    width: 50%;
    margin: 20px;
}

.logo {
    width: 25px;
    height: 25px;
}
.question-paragraph{
    margin: 0px;
}

.row-proposition{
    margin: 10px 0px;
}

.mat-slider{
    width: 400px;
    position: relative;
    z-index: 1;
}
.mat-form-field-slider{
    width: 50px;
}