<div class="" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="mat-card-path-condition" style="width:50%;">
        <div style="width:100%;" fxLayout="column" fxLayoutAlign="center">
            <div class="text-description" fxLayout="row" fxLayoutAlign="center center">
                <h1>Trajet</h1>
            </div>
            <div fxLayout="column" fxLayoutAlign="center center">
                <div fxLayout="column" fxLayoutAlign="center center">
                    <h2>Itineraire</h2>
                    <img src="./assets/images/map.png" alt="Image du trajet" style="width:360px; height:360px;">
                </div>
                <div fxLayout="column" fxLayoutAlign="center center">
                    <h2>Informations sur le conducteur :</h2>
                    <div fxLayout="row" fxLayoutAlign="center center">
                        <p>Conducteur :
                            <b>{{user?.username}}</b>
                        </p>
                    </div>
                </div>
                <div fxLayout="column" fxLayoutAlign="center center">
                    <h2>Informations sur le depart</h2>
                    <div fxLayout="row" fxLayoutAlign="center center">
                        <p>Depart :
                            <b> {{trajet?.startLocation?.address}} </b>
                        </p>
                        <p>Arrivee :
                            <b> {{trajet?.stopLocation?.address}} </b>
                        </p>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="center center">
                        <p>Heure:
                            <b>{{trajet?.hourDeparture}}</b>
                        </p>
                        <div *ngIf="trajet?.dateDeparture!= null">
                            <p>Jour:
                                <b>{{trajet?.dateDeparture | date: 'fullDate'}} </b>
                            </p>
                            <div *ngIf="trajet?.regularDays != null">
                                <p>Repetitions dans le semaine :
                                    <b>{{trajet?.regularDays}}</b>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div fxLayout="column" fxLayoutAlign="center center">
                    <h2>Informations sur le trajet</h2>
                    <div fxLayout="row" fxLayoutAlign="center center">
                        <p>Retour le soir ? :
                            <b>{{back}}</b>
                        </p>
                    </div>
                </div>
                <div fxLayout="column" fxLayoutAlign="center center">
                    <h2>Preferences</h2>
                    <div fxLayout="column" fxLayoutAlign="center center">
                        <div fxLayout="row" fxLayout.xs="column">
                            <p>Fumeur:
                                <b>{{smoke}}</b>
                            </p>
                            <p>Musicos:
                                <b>{{music}}</b>
                            </p>
                            <p>Tchatcheur:
                                <b>{{speak}}</b>
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center">
            <button mat-button class="button-contact-driver" (click)="contact()">Contacter le conducteur</button>
            <button mat-button class="button-select-path" (click)="add()">Choisir ce trajet</button>
        </div>
    </mat-card>
</div>