<div class="" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="mat-card-path-condition">
        <div style="width:100%;" fxLayout="column" fxLayoutAlign="center">
            <div fxLayout="column">
                <div fxLayout="">
                    <mat-card style="width:100%;">
                        <h2>
                            Informations generales
                        </h2>
                        <p>Depart :
                            <b> {{trajet?.startLocation?.address}} </b>
                        </p>
                        <p>Arrivée :
                            <b> {{trajet?.stopLocation?.address}} </b>
                        </p>
                        <p>Heure:
                            <b>{{trajet?.hourDeparture}}</b>
                        </p>
                        <div fxLayout="row" fxLayoutAlign="space-between center">
                            <div *ngIf="trajet?.dateDeparture!= null">
                                <p>Jour:
                                    <b>{{trajet?.dateDeparture | date: 'fullDate'}} </b>
                                </p>
                            </div>
                            <div *ngIf="trajet?.regularDays != null">
                                <p>Repetitions dans le semaine :
                                    <b>{{trajet?.regularDays}}</b>
                                </p>
                            </div>
                            <p>Retour le soir ? :
                                <b>{{back}}</b>
                            </p>
                        </div>
                    </mat-card>
                </div>
                <div fxLayout="row" fxLayout.xs="column">
                    <mat-card>
                        <h2>Conditions du trajet</h2>
                        <div fxLayout="column" fxLayoutAlign="space-between start">
                            <p>Fumeur:
                                <b>{{smoke}}</b>
                            </p>
                            <p>Musicos:
                                <b>{{music}}</b>
                            </p>
                            <p>Tchatcheur:
                                <b>{{speak}}</b>
                            </p>
                        </div>
                    </mat-card>
                    <mat-card>
                        <h2>Trajet</h2>
                        <div fxLayout="column" fxLayoutAlign="space-between center" style="width:100%;">
                            <p>
                                Conducteur : {{user?.username}}
                            </p>
                            <p>
                                Nombre de place restantes : {{trajet?.maxPlaces}}
                            </p>
                            <div id="divButton" fxLayout="row" fxLayoutAlign="center center">
                                <button class="button-contact-driver" (click)="contact()">Discussions sur le trajet</button>
                                <button class="button-select-path" (click)="add()" *ngIf="trajet?.driverId != userConnect?.id">Choisir ce trajet</button>
                            </div>
                        </div>
                    </mat-card>
                </div>
            </div>
        </div>
    </mat-card>
</div>