<h2>Demande à envoyer à #user pour le trajet allant de {{trajet?.startLocation?.address}} à {{trajet?.stopLocation?.address}}</h2>
<h3>Date de départ : {{trajet?.dateDeparture | date:'short'}}</h3>
<div>
  <div *ngFor="let message of messages" class="message">
    <b>{{message.sender.username }}</b>
    <p>{{message.message}}</p>
  </div>
</div>


<form (ngSubmit)="onSubmit($event)" [formGroup]="messageForm">
  <textarea matInput formControlName="message" name="message" placeholder="Envoyer une demande" matTextareaAutosize matAutosizeMinRows="2"
    matAutosizeMaxRows="5"></textarea>
  <button mat-button type="submit">Submit</button>
</form>